.corona-banner {
	display: block;
	background-color: white;
	text-align: center;
	padding: 1em;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
}

.corona-banner-content {
	display: inline-block;
	text-align: left;
}

a.corona-banner-website-link {
	display: block;
}

img.corona-banner-website-link-img {
	border: 0;
}

a.corona-banner-hotline-link,
a.corona-banner-whatsapp-link,
a.corona-banner-hotline-link:visited,
a.corona-banner-whatsapp-link:visited {
	display: block;
	text-decoration: none;
	color: #e95211;
}

a.corona-banner-hotline-link:hover,
a.corona-banner-whatsapp-link:hover {
	text-decoration: underline;
	color: #e95211;
}

a.corona-banner-hotline-link {
	font-weight: bold;
}