.banner_topFixed,
.banner_topScroll {
	padding-top: 95px;
}

.banner_bottomFixed{
	padding-bottom: 86px;
}

.corona-banner {
	display: block;
	background-color: white;
	text-align: center;
	padding: 1em;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
}

.banner_topScroll .corona-banner {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 99998;
	border-bottom: 1px solid;
}

.banner_topFixed .corona-banner {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 99998;
	-webkit-box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
	-moz-box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
	box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
}

.banner_bottomFixed .corona-banner {
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 99998;
	-webkit-box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
	-moz-box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
	box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
}

.banner_bottomScroll .corona-banner {
	position: relative;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 99998;
	-webkit-box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
	-moz-box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
	box-shadow: 0px 5px 7px 5px rgba(102,102,102,0.3);
}

.corona-banner-content {
	display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

a.corona-banner-website-link {
	display: block;
}

img.corona-banner-website-link-img {
	display: inline-block;
	border: 0;
	margin-right: 20px;
}

a.corona-banner-hotline-link,
a.corona-banner-whatsapp-link,
a.corona-banner-hotline-link:visited,
a.corona-banner-whatsapp-link:visited {
	display: block;
	text-decoration: none;
	color: #e95211;
}

a.corona-banner-hotline-link:hover,
a.corona-banner-whatsapp-link:hover {
	text-decoration: underline;
	color: #e95211;
}

a.corona-banner-hotline-link {
	font-weight: bold;
}


@media screen and ( max-width: 768px ){

	.banner_topFixed {
    padding-top: 100px;
	}

	.banner_bottomFixed {
		padding-bottom: 140px;
	}

	.corona-banner-content {
		flex-wrap: wrap;
		text-align: center;
	}

	.corona-banner-website-link {
		width: 100%;
		text-align: center;
	}

	.corona-banner-website-link-img{
		margin: 0;
	}

	.coronaBanner__hotlineLink,
	.coronaBanner__whatsappLink{
		padding: 5px 0;
	}
}
